<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Need a full-stack web developer? You've come to the right place!">
    <meta name="author" content="Christopher Angeles">
    <meta name="keywords"  content="HTML, CSS, Javascript, Web Development, Full-stack, Freelance, Developer, NodeJS, MongoDB, Express">

    <title>Christopher Angeles</title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/main.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Christopher Angeles</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#focus">Focus</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#portfolio">Portfolio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead text-center text-white d-flex masthead-img">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase">
              <strong>Christopher Angeles</strong>
            </h1>
            <hr>
          </div>
          <div class="col-lg-8 mx-auto">
            <p class="text-white mb-5 name">FullStack Web Developer - Unity Developer - Tech Enthusiast - Gamer</p>
            <a class="btn sr-button btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a>
          </div>
        </div>
      </div>
    </header>
    
    <section id="focus">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Focus and Expertise</h2>
            <hr class="my-4">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fas fa-code text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">NodeJS & Express</h3>
              <p class="text-muted mb-0">Fully functional and launched NodeJS apps</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fab fa-envira text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">MongoDB</h3>
              <p class="text-muted mb-0">Experience in creating and updating live databases</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fab fa-html5 text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">HTML,CSS,Bootstrap</h3>
              <p class="text-muted mb-0">Experienced web development using in HTML4,CSS3, and Boostrap4 </p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-heart text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Unity & Git</h3>
              <p class="text-muted mb-0">Knowledge of other languages and platforms for growth</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-primary" id="about">
      <div class="container">
        <h2 class="section-heading text-white text-center">Self-Taught Developer</h2>
        <hr class="light my-4">
        <div class="row">
          <div class="col-lg-6 mx-auto text-center">
            <p class="text-faded mb-4">
              I graduated univerity with a degree in Biochemisty and quickly found a research position at New York University School of Medicine as a research associate.
              Working as a genetic engineer with a skilled team of scientists we were able to develope a protein for drug delivery into neurons.
              Currently, the protein is in testing phase and the results are very promising. If you would like to check out my published paper, click the LinkedIn link at the bottom of the page.
            </p>
          </div>
          <div class="col-lg-6 mx-auto text-center">
            <p class="text-faded mb-4">
              After learning more about biotechnology and the different aspects, I have decided to take a step out of the lab and start a career more on the technology side of biology. 
              I have always loved computer technology and have slowly been learning over the past few years. Up until recently, I decided to dedicate full time into learning by taking courses through Udemy.com.
              I am self-taught, modivated, and eager to learn. I'm ready for a challenge and to grow as a developer.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="container">
            <div class="col-lg mx-auto text-center">
              <img src="img/christopherangeles.jpg" class="img-fluid" alt="Picture of Christopher Angeles">
            </div>
          </div>
        </div>
        <div class="container">
          <div class="col-lg mx-auto text-center mt-3">
            <a class="btn btn-light btn-xl sr-button js-scroll-trigger" href="#portfolio">Check out my work!</a>
          </div>
        </div>
      </div>
    </section>

    <section class="p-0" id="portfolio">
      <div class="container-fluid p-0">
        <div class="row no-gutters">
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" target="_blank" href="https://campup.herokuapp.com/">
              <img class="img-fluid" src="img/portfolio/thumbnails/campup.jpg" alt="CampUp - A Camping Community Website">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Express/NodeJS
                  </div>
                  <div class="project-name">
                    Camp Up <hr class="border-white"> A Community Website for Campers
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" target="_blank" href="https://valentinos.herokuapp.com/">
              <img class="img-fluid" src="img/portfolio/thumbnails/valentinos.jpeg" alt="Valentino's - A Business Bakery website">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    HTML & CSS
                  </div>
                  <div class="project-name">
                    Valentino's <hr class="border-white"> A Personal Business Website
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box">
              <img class="img-fluid" src="img/portfolio/thumbnails/img3.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Category
                  </div>
                  <div class="project-name">
                    Project Name
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box">
              <img class="img-fluid" src="img/portfolio/thumbnails/employee-app.jpg" alt="CRUD Employee Database">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    CRUD/RESTful Routing
                  </div>
                  <div class="Employee Database">
                    <hr class="border-white"> Employee Database
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box">
              <img class="img-fluid" src="img/portfolio/thumbnails/img5.jpeg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Category
                  </div>
                  <div class="project-name">
                    Project Name
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box">
              <img class="img-fluid" src="img/portfolio/thumbnails/img6.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Category
                  </div>
                  <div class="project-name">
                    Project Name
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-dark text-white">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Completed Courses</h2>
            <hr class="my-4">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fas fa-code text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">
                  <a class="text-white course" href="https://www.udemy.com/the-web-developer-bootcamp/" target="_blank">The Web Developer Bootcamp</a>
              </h3>
            </div>
          </div>
          <div class="col-lg-2 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fas fa-th-large text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">
                  <a class="text-white course" href="https://www.udemy.com/bootstrap-4" target="_blank">Bootstrap4: A quick start</a>
              </h3>
            </div>
          </div>
          <div class="col-lg-2 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fas fa-window-maximize text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">
                  <a class="text-white course" href="https://www.udemy.com/design-and-develop-a-killer-website-with-html5-and-css3" target="_blank">Build Responsive, Real World Websites</a>
              </h3>
            </div>
          </div>
          <div class="col-lg-2 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-shield text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">
                  <a class="text-white course" href="https://www.udemy.com/beginner-javascript-create-your-own-text-based-rpg" target="_blank">JavaScript Textbased RPG</a>
              </h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fas fa-gamepad text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">
                  <a class="text-white course" href="https://www.udemy.com/the-ultimate-guide-to-game-development-with-unity" target="_blank">The Ultimate Guide to Game Development with Unity</a>
              </h3>
            </div>
          </div>
          <div class="container text-center">
        <a class="btn btn-light btn-xl sr-button mt-5" href="http://udemy.com" target="_blank">Udemy.com</a>
      </div>
        </div>
      </div>
    </section>

    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">Contact Me!</h2>
            <hr class="my-4">
            <p class="mb-5"></p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 ml-auto text-center">
            <i class="fa fa-phone fa-3x mb-3 sr-contact"></i>
            <p>+33 7 899 80939</p>
          </div>
          <div class="col-lg-4 mr-auto text-center">
            <i class="fa fa-envelope-o fa-3x mb-3 sr-contact"></i>
            <p>
              <a href="mailto:christopher.angeles@gmail.com">Christopher.Angeles@gmail.com</a>
            </p>
          </div>
        </div>
      </div>
      <div class="footer-social mt-5">
        <div class="container text-center">
          <ul class="list-inline">
            <li class="list-inline-item social-github">
              <a href="https://github.com/cangeles14" target="_blank">
                <i class="fa fa-2x fa-github"></i>
              </a>
            </li>
            <li class="list-inline-item social-upwork">
              <a href="https://www.upwork.com/o/profiles/users/_~01131b3cefd61bcc00/" target="_blank">
                <i class="fa fa-2x fa-arrow-up"></i>
              </a>
            </li>
            <li class="list-inline-item social-facebook">
              <a href="https://www.facebook.com/christopher.angeles.359" target="_blank">
                <i class="fa fa-2x fa-facebook"></i>
              </a>
            </li>
            <li class="list-inline-item social-linkedin">
              <a href="https://www.linkedin.com/in/christopher-angeles-58111576" target="_blank">
                <i class="fa fa-2x fa-linkedin"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </section>


    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="/vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="/js/main.min.js"></script>

  </body>

<!-- //This website was created with help from Start Bootstrap. Start Bootstrap is a project created and maintained by David Miller at Blackrock Digital. -->
<!-- //Themes and templates licensed MIT, Start Bootstrap website CC BY 3.0. Based on Bootstrap.-->

</html>